:root{
  --timeline-box-color: #DCD0C0;
  --timeline-circle-color: #C0B283;
  --timeline-circle-border-color: #373737;
}

body {
background-color: #F4F4F4;
font-family: 'Open Sans', sans-serif, Helvetica, sans-serif;
}

#title{
    text-align: center;
    line-height: 10px;
    color: black;
}

#img-div{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image{
  border-radius: 50px;
  width: auto;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#img-caption{
  padding-top: 10px;
  width: 75%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-style: italic;
}

#timeline-description{
  padding-top: 40px;
  padding-bottom:20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#footer{
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom:20px;
  font-size: 18px;
}
* {
box-sizing: border-box;
}

.timeline {
position: relative;
max-width: 1200px;
margin: 0 auto;
}

.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color: black;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
}

.container {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}

.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: var(--timeline-circle-color);
border: 4px solid var(--timeline-circle-border-color);
top: 15px;
border-radius: 50%;
z-index: 1;
}

.left {
left: 0;
}

.right {
left: 50%;
}

.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid var(--timeline-box-color);
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent var(--timeline-box-color);
}

.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid var(--timeline-box-color);
border-width: 10px 10px 10px 0;
border-color: transparent var(--timeline-box-color) transparent transparent;
}

.right::after {
left: -16px;
}

.content {
padding: 10px 30px;
background-color: var(--timeline-box-color);
position: relative;
border-radius: 12px;
}

@media screen and (max-width: 600px) {

.timeline::after {
left: 31px;
}

.container {
width: 100%;
padding-left: 70px;
padding-right: 25px;
}

.container::before {
left: 60px;
border: medium solid var(--timeline-box-color);
border-width: 10px 10px 10px 0;
border-color: transparent var(--timeline-box-color) transparent transparent;
}

.left::after, .right::after {
left: 15px;
}

.right {
left: 0%;
}
}
